@model Mutterboard.Models.TaskItem

<h2>Neue Aufgabe</h2>

<form asp-action="Create" asp-controller="Task" method="post">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label asp-for="StartDate"></label>
        <input asp-for="StartDate" type="date" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="EndDate"></label>
        <input asp-for="EndDate" type="date" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Priority"></label>
        <select asp-for="Priority" asp-items="Html.GetEnumSelectList<Mutterboard.Models.TaskPriority>()" class="form-control"></select>
    </div>

    <div class="form-group">
        <label for="UserId">Aufgabe zuweisen an:</label>
        <select asp-for="UserId" class="form-control" required>
            <option value="">Bitte auswählen</option>
            @if (ViewBag.Users != null)
            {
                @foreach (var user in ViewBag.Users)
                {
                    <option value="@user.Id">@user.UserName</option>
                }
            }
        </select>
    </div>


    <button type="submit" class="btn btn-success">Speichern</button>
</form>
